<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!-- 현재 폴더 경로와 일치한다 -->
<mapper namespace="repository.mybatis.mapper.BoardMapper">
	<cache />

	<sql id="BaseColumns">
		DRIVERID AS driverId,
		BOARDID AS boardId,
		ARRIVAL AS arrival,
		DEPARTURE AS departure,
		ARRIVALTIME AS arrivalTime,
		DEPARTURETIME AS departureTime,
		CARSHAREDATE AS carShareDate,	
		HEADCOUNT AS headCount	
	</sql>
	
	
	<update id="updateBoard" timeout="10" parameterType="BoardForUpdate">
		UPDATE BOARD
		SET ARRIVAL=#{arrival},DEPARTURE=#{departure},ARRIVALTIME=#{arrivalTime},DEPARTURETIME=#{departureTime},HEADCOUNT=#{headCount},REALTIMESTATE=#{realtimeState}
		WHERE BOARDID=#{boardId}
	</update>
	
	<select id="selectAllBoard" resultType="BoardDTO">
		SELECT <include refid="BaseColumns"/>
		FROM BOARD
	</select>
	
	<select id="findBoardByBoardId" parameterType="int" resultType="String">
		SELECT ARRIVAL
		FROM BOARD
		WHERE BOARDID = #{boardId}
	</select>
	

	<!-- board id로 board정보, driver 정보 가지고 오기 -->
	<resultMap id="associationResultMap" type="BoardDTO">
		<id column="BOARDID" jdbcType="NUMERIC" property="boardId" />
		<result column="DRIVERID" jdbcType="NUMERIC" property="driverId" />
		<result column="ARRIVAL" jdbcType="VARCHAR" property="arrival" />
		<result column="DEPARTURE" jdbcType="VARCHAR" property="departure" />
		<result column="ARRIVALTIME" jdbcType="VARCHAR" property="arrivalTime" />
		<result column="DEPARTURETIME" jdbcType="VARCHAR" property="departureTime" />
		<result column="CARSHAREDATE" jdbcType="VARCHAR" property="carShareDate" />
		<result column="HEADCOUNT" jdbcType="NUMERIC" property="headCount" />
		<association column="DRIVERID" property="driver" javaType="DriverDTO" >
			<id column="DRIVERID" property="driverId" />
			<result column="DRIVERNAME" property="driverName" />
			<result column="LICENSE" property="license" />
			<result column="CARNUMBER" property="carNumber" />	
		</association>
	</resultMap>
	<select id="selectBoardDetailsByBoardID" parameterType="int" 
	resultType="BoardDTO"> 
		SELECT b.BOARDID as boardId,
		b.DRIVERID as driverId,
		b.ARRIVAL as arrival,
		b.DEPARTURE as departure,
		b.ARRIVALTIME as arrivalTime,
		b.DEPARTURETIME as departureTime,
		b.CARSHAREDATE as carShareDate,
		d.DRIVERNAME as "driver.driverName",
		d.LICENSE as "driver.license",
		d.CARNUMBER as "driver.carNumber"
		FROM DRIVER d, BOARD b
		WHERE d.DRIVERID = b.DRIVERID AND b.BOARDID = #{boardId} 
	</select>
</mapper>